<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>


    <!--给mapper文件中的类名起别名-->
    <!--
    <typeAliases>
        <package  name="com.zyp.bean"  />
    </typeAliases>
    -->

    <mappers>
        <!--批量引入，指该包下面的所有映射文件自动引入-->
        <package name="com.zhoudaxia.dao"/>
    </mappers>

</configuration>